body {
  background: rgb(121, 170, 211);
  color: #fff;
}
.grid-container {
  display: grid;
  width: 100%;
  height: 95vh;
  overflow: visible;
  /* Classification Selection on the bottom
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-template-rows: 0.1fr 0.1fr 0.5fr 2.6fr 0.25fr;
  grid-template-areas: 'Header Header Header Header Header Header Header Header Header Header' 'LPD-Header LPD-Header LPD-Header LPD-Header GPD-Header GPD-Header LPD2-Header LPD2-Header LPD2-Header LPD2-Header' 'LPD LPD LPD LPD GPD GPD LPD-2 LPD-2 LPD-2 LPD-2' 'Montage Montage Montage Montage Montage Montage Montage Montage Montage Montage' 'Select-All Select-Channel Select-Ind Images Images Images Images Images Images Images' 'Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies' 'Submit Submit Submit Submit Submit Submit Submit Submit Submit Submit'; */

  /* Classification Selection on the bottom -- montage removed */
  /* Frames for columns/rows */
  /* grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
  grid-template-rows: 0.5fr 0.05fr 0.05fr 0.5fr 2.6fr 0.25fr; */

  /* Percentages for columns/rows */
  /* overflow-y: hidden;
  overflow-x: hidden; */
  /*grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;*/

  grid-template-columns: repeat(auto-fit, minmax(100px, 0.1fr));
  grid-template-rows: 5% 3% 10% 70% 8% 5%;
  grid-template-areas:
    'Header Header Header Header Header Header Header Header Header Header'
    'LPD-Header LPD-Header LPD-Header LPD-Header GPD-Header GPD-Header LPD2-Header LPD2-Header LPD2-Header LPD2-Header'
    'LPD LPD LPD LPD GPD GPD LPD-2 LPD-2 LPD-2 LPD-2'
    'Select-All Select-Channel Select-Ind Images Images Images Images Images Images Images'
    'Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies'
    'Submit Submit Submit Submit Submit Submit Submit Submit Submit Submit';

  /* Classification Selection on the bottom */
  /* grid-template-columns: 0.75fr 0.75fr 0.75fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 0.4fr 2.6fr 0.5fr 0.1fr 0.5fr 0.25fr; */
  /* grid-template-areas: 'Header Header Header Header Header Header Header Header Header Header' 'Montage Montage Montage Montage Montage Pass Pass Pass Pass Pass' 'Select-All Select-Channel Select-Ind Images Images Images Images Images Images Images' 'Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies' 'LPD-Header LPD-Header LPD-Header LPD-Header GPD-Header GPD-Header LPD2-Header LPD2-Header LPD2-Header LPD2-Header' 'LPD LPD LPD LPD GPD GPD LPD-2 LPD-2 LPD-2 LPD-2' 'Submit Submit Submit Submit Submit Submit Submit Submit Submit Submit'; */
}

/* Custom Checkboxes */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  text-align: center;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* End Custom Checkboxes */
.wrapper {
  align-items: center;
  justify-items: center;
}

.Header {
  grid-area: Header;
  text-align: center;
  background-color: rgba(60, 60, 202, 0.493);
}

.Montage {
  grid-area: Montage;
  text-align: center;
  padding-bottom: 10px;
}

.Pass {
  grid-area: Pass;
  text-align: center;
}

.Select-All {
  grid-area: Select-All;
  text-align: center;
  margin-top: 15px;
  min-width: 15px;
}

.Select-Channel {
  grid-area: Select-Channel;
  text-align: center;
  margin-top: 15px;
  min-width: 20px;
}

.input-check-channel input {
  margin-bottom: 103px;
}

.Select-Ind {
  grid-area: Select-Ind;
  text-align: center;
  margin-top: 15px;
  min-width: 100px;
}

.input-check-ind {
  margin-bottom: 9.25px;
  margin-left: 25px;
}

.Select-Ind input {
  grid-area: Select-Ind;
  margin-bottom: 7px;
}

.Images {
  grid-area: Images;
  text-align: center;
  padding-top: 20px;
  min-width: 650px;
  /* margin-left: -300px; */
  /* border-style: groove;
  border-color: black;
  padding-left: -25px; */
}

.Images img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.Frequencies {
  grid-area: Frequencies;
  text-align: center;
  /* padding-bottom: 15px; */
}

.LPD {
  display: grid;
  /*grid-template-columns: 0.5fr 0.5fr 0.5fr;*/
  grid-template-columns: repeat(auto-fit, minmax(100px, 0.1fr));
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'LPD-Type LPD-Predom-ln1 LPD-Predom-ln1 LPD-Predom-ln1'
    'LPD-Type LPD-Predom-ln2 LPD-Predom-ln2 LPD-Predom-ln2';
  grid-area: LPD;
  border-style: groove;
  border-color: rgb(210, 209, 223);
  min-height: 90px;
}

.LPD-Type {
  grid-area: LPD-Type;
  text-align: center;
  border-style: groove;
  border-color: rgb(210, 209, 223);
  min-width: 150px;
}

.LPD-Predom-ln1 {
  grid-area: LPD-Predom-ln1;
  text-align: center;
  margin-left: 45px;
  min-width: 180px;
}

.LPD-Predom-ln2 {
  grid-area: LPD-Predom-ln2;
  text-align: center;
  min-width: 200px;
}

.GPD {
  display: grid;
  /*grid-template-columns: 0.5fr 0.5fr 0.5fr;*/
  grid-template-columns: repeat(auto-fit, minmax(100px, 0.1fr));
  grid-template-rows: 1fr 1fr;
  /*grid-template-areas: 'GPD-Predom-ln1 GPD-Predom-ln1 GPD-Predom-ln1' 'GPD-Predom-ln2 GPD-Predom-ln2 GPD-Predom-ln2';*/
  grid-template-areas:
    'GPD-Predom-ln1 GPD-Predom-ln1'
    'GPD-Predom-ln2 GPD-Predom-ln2';
  grid-area: GPD;
  border-style: groove;
  border-color: rgb(210, 209, 223);
  min-width: 200px;
  min-height: 90px;
}

.GPD-Predom-ln1 {
  grid-area: GPD-Predom-ln1;
  text-align: center;
  min-width: 200px;
}

.GPD-Predom-ln2 {
  grid-area: GPD-Predom-ln2;
  text-align: center;
  min-width: 200px;
}

.LPD2 {
  display: grid;
  /*grid-template-columns: 0.5fr 0.5fr 0.5fr;*/
  grid-template-columns: repeat(auto-fit, minmax(100px, 0.1fr));
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'LPD-2-Type LPD-2-Predom-ln1 LPD-2-Predom-ln1 LPD-2-Predom-ln1'
    'LPD-2-Type LPD-2-Predom-ln2 LPD-2-Predom-ln2 LPD-2-Predom-ln2';
  grid-area: LPD-2;
  border-style: groove;
  border-color: rgb(210, 209, 223);
  min-height: 90px;
}

.LPD-2-Type {
  grid-area: LPD-2-Type;
  text-align: center;
  border-style: groove;
  border-color: rgb(210, 209, 223);
  min-width: 150px;
}

.LPD-2-Predom-ln1 {
  grid-area: LPD-2-Predom-ln1;
  text-align: center;
  margin-left: 45px;
  min-width: 180px;
}

.LPD-2-Predom-ln2 {
  grid-area: LPD-2-Predom-ln2;
  text-align: center;
  min-width: 200px;
}

.LPD-Header {
  grid-area: LPD-Header;
  text-align: center;
}

.GPD-Header {
  grid-area: GPD-Header;
  text-align: center;
}

.LPD2-Header {
  grid-area: LPD2-Header;
  text-align: center;
}

.Submit {
  grid-area: Submit;
  text-align: center;
}

.button {
  background-color: #350cec;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Modal Stuff */
.modal-content {
  position: absolute;
  top: 0px;
  left: 5%;
  z-index: 99;
  background: #636363;
  height: 95%;
}

.modal-login {
  color: #636363;
  width: 350px;
}
.modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
.modal-login h4 {
  text-align: center;
  font-size: 26px;
}
.modal-login .form-group {
  position: relative;
}
.modal-login i {
  position: absolute;
  left: 13px;
  top: 11px;
  font-size: 18px;
}
.modal-login .form-control {
  padding-left: 40px;
}
.modal-login .form-control:focus {
  border-color: #00ce81;
}
.modal-login .form-control,
.modal-login .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-login .hint-text {
  text-align: center;
  padding-top: 10px;
}
.modal-login .close {
  position: absolute;
  top: -5px;
  right: -5px;
}
.modal-login .btn {
  background: #00ce81;
  border: none;
  line-height: normal;
}
.modal-login .btn:hover,
.modal-login .btn:focus {
  background: #00bf78;
}
.modal-login .modal-footer {
  background: #ecf0f1;
  border-color: #dee4e7;
  text-align: center;
  margin: 0 -20px -20px;
  border-radius: 5px;
  font-size: 13px;
  justify-content: center;
}
.modal-login .modal-footer a {
  color: #999;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
.form-group {
  align-items: center;
  justify-content: center;
}
.btn {
  width: 200px;
  margin-left: 7px;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* opacity: 0.49;
  background-color: rgba(0, 0, 0, 0.5); Black background with opacity
  */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
