body {
  background: rgb(121, 170, 211);
  color: #fff;
}
.grid-container {
  display: grid;

  /* Classification Selection on the bottom */
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.4fr 0.5fr 0.1fr 0.5f 0.5fr 2.6fr r 0.25fr;
  grid-template-areas: 'Header Header Header Header Header Header Header Header Header Header' 'LPD-Header LPD-Header LPD-Header LPD-Header GPD-Header GPD-Header LPD2-Header LPD2-Header LPD2-Header LPD2-Header' 'LPD LPD LPD LPD GPD GPD LPD-2 LPD-2 LPD-2 LPD-2' 'Montage Montage Montage Montage Montage Montage Montage Montage Montage Montage' 'Select-All Select-Channel Select-Ind Images Images Images Images Images Images Images' 'Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies' 'Submit Submit Submit Submit Submit Submit Submit Submit Submit Submit';

  /* Classification Selection on the bottom */
  /* grid-template-columns: 0.75fr 0.75fr 0.75fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 0.4fr 2.6fr 0.5fr 0.1fr 0.5fr 0.25fr; */
  /* grid-template-areas: 'Header Header Header Header Header Header Header Header Header Header' 'Montage Montage Montage Montage Montage Pass Pass Pass Pass Pass' 'Select-All Select-Channel Select-Ind Images Images Images Images Images Images Images' 'Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies Frequencies' 'LPD-Header LPD-Header LPD-Header LPD-Header GPD-Header GPD-Header LPD2-Header LPD2-Header LPD2-Header LPD2-Header' 'LPD LPD LPD LPD GPD GPD LPD-2 LPD-2 LPD-2 LPD-2' 'Submit Submit Submit Submit Submit Submit Submit Submit Submit Submit'; */
}

.Header {
  grid-area: Header;
  text-align: center;
}

.Montage {
  grid-area: Montage;
  text-align: center;
  padding-bottom: 10px;
}

.Pass {
  grid-area: Pass;
  text-align: center;
}

.Select-All {
  grid-area: Select-All;
  text-align: center;
}

.Select-Channel {
  grid-area: Select-Channel;
  text-align: center;
}

.input-check-channel input {
  margin-bottom: 100px;
}

.Select-Ind {
  grid-area: Select-Ind;
  padding-left: 80px;
}

.input-check-ind {
  margin-bottom: 6px;
  margin-left: 25px;
}

.Select-Ind input {
  grid-area: Select-Ind;
  margin-bottom: 7px;
}

.Images {
  grid-area: Images;
  text-align: center;
  padding-top: 20px;
  border-style: groove;
  border-color: black;
  padding-left: -25px;
}

.Frequencies {
  grid-area: Frequencies;
  text-align: center;
  padding-bottom: 15px;
}

.LPD {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'LPD-Type LPD-Predom-ln1 LPD-Predom-ln1' 'LPD-Type LPD-Predom-ln2 LPD-Predom-ln2';
  grid-area: LPD;
  border-style: groove;
  border-color: rgb(210, 209, 223);
}

.LPD-Type {
  grid-area: LPD-Type;
  text-align: center;
  border-style: groove;
  border-color: rgb(210, 209, 223);
}

.LPD-Predom-ln1 {
  grid-area: LPD-Predom-ln1;
  text-align: center;
  margin-left: 45.5px;
}

.LPD-Predom-ln2 {
  grid-area: LPD-Predom-ln2;
  text-align: center;
}

.GPD {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'GPD-Predom-ln1 GPD-Predom-ln1 GPD-Predom-ln1' 'GPD-Predom-ln2 GPD-Predom-ln2 GPD-Predom-ln2';
  grid-area: GPD;
  border-style: groove;
  border-color: rgb(210, 209, 223);
}

.GPD-Predom-ln1 {
  grid-area: GPD-Predom-ln1;
  text-align: center;
}

.GPD-Predom-ln2 {
  grid-area: GPD-Predom-ln2;
  text-align: center;
}

.LPD2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'LPD-2-Type LPD-2-Predom-ln1 LPD-2-Predom-ln1' 'LPD-2-Type LPD-2-Predom-ln2 LPD-2-Predom-ln2';
  grid-area: LPD-2;
  border-style: groove;
  border-color: rgb(210, 209, 223);
}

.LPD-2-Type {
  grid-area: LPD-2-Type;
  text-align: center;
  border-style: groove;
  border-color: rgb(210, 209, 223);
}

.LPD-2-Predom-ln1 {
  grid-area: LPD-2-Predom-ln1;
  text-align: center;
  margin-left: 45.5px;
}

.LPD-2-Predom-ln2 {
  grid-area: LPD-2-Predom-ln2;
  text-align: center;
}

.LPD-Header {
  grid-area: LPD-Header;
  text-align: center;
}

.GPD-Header {
  grid-area: GPD-Header;
  text-align: center;
}

.LPD2-Header {
  grid-area: LPD2-Header;
  text-align: center;
}

.Submit {
  grid-area: Submit;
  text-align: center;
}

.button {
  background-color: #350cec;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
